node_modules/
package.json
package-lock.json
.DS_Store
Thumbs.db
reference/

# --- Agent files --- do not publish from this repo ---
# This repository is PUBLIC. The GUARD.IAN agent workflows and case data
# live in the private GUARD-Project repository. Any copy found here is
# incidental and must not be committed.
#
# The scam_cases CSVs contain unreviewed automated verdicts that state
# accusations as fact about named third parties. Publishing them would
# create defamation exposure that cannot be undone.

Guard*.json
Guard v*.json
Guard Watchtower*.json
scam_cases*.csv
*workflows*.zip
guard*-zip
guard*.zip
agent-backups-*/

# Broad catch-alls for the same class of file
*n8n*
*.env
.env*
